
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .order_success {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 10px;
        font-family: "Roboto", sans-serif;
      }
      .order_success h2 {
        font-size: 35px;
        margin-bottom: 15px;
        letter-spacing: 1px;
      }
      .order_success .message_order {
        margin-bottom: 15px;
        max-width: 520px;
        word-spacing: 1px;
        font-size: 14px;
        text-align: center;
      }
      .message_order span {
        text-decoration: underline;
      }
      .order_success button {
        margin: 10px 0px 15px 0px;
        border: 2px solid black;
        color: white;
        background-color: black;
        padding: 13px 15px;
        font-size: 12px !important;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
      }
      .order_success button:hover {
        background-color: white;
        color: black;
      }
      .order_success .policy {
        margin-top: 10px;
        font-size: 13px;
        margin-bottom: 10px;
        text-decoration: underline;
        cursor: pointer;
      }
      /* --- media  */
      @media (max-width: 550px) {
        .order_success .message_order {
          width: 100%;
          /* text-align: left; */
        }
      }