
:root {
    --pending-color: red;
    --reject-color: red;
    --other-color: darkgreen;
  }
  .fixed-item {
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
.OrderTable {
  width: 80vw;
  /* width: 100%; */
  padding: 10px;
  border: 2px solid black;
  margin-top:-4.5px ;
  border-radius: 2px 7px 7px 7px;
  text-align: left !important;
}
/* ---- ordertable_head */
.ordertable_head {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;
  padding: 6px 12px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  gap: 10px;
  border-radius: 10px;
}

/* ---- ordertable_body */
.ordertable_body {
  margin: 20px 0px;
  
}
.ordertable_body_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbd9d9;
  border-radius: 10px;
  padding: 15px 10px;
  gap: 10px;
  margin: 17px 0px;
  box-shadow: 5px 6px 20px 1px #8d8d8d;
}
.ordertable_body_box:hover{
    width: 101%;
    box-shadow: 5px 6px 20px 1px #616060;
}
/* ---- order_status */
.order_status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.main {
  width: 20px !important;
  height: 20px !important;
  padding: 2px;
  border-radius: 50% !important;
  border: 2px solid green;
  position: relative;
}
.span {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--other-color);
    border-radius: 50%;
  }
  
  .pending {
    background-color: red !important;
    border-color: red !important;
  }
  
  .reject {
    background-color: red !important;
    border-color: red !important;
  }
  
  .other  {
    background-color: darkgreen !important;
    border-color: darkgreen !important;
  }
  .mainpending  {
    border:2px solid red !important;
  }
  
  .mainreject {
    border:2px solid red !important;
  }
  
  .mainother  {
    border:2px solid darkgreen !important;
  }

/* ---- order_action */
.order_action{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}
.order_action svg{
    font-size: 23px;
    cursor: pointer;
}
/* =========== blue_order */
.blue_order{
    background-color: black !important;
    color: white !important;
    border-radius: 10px;
    border: 2px solid black;
}

/* ------ pagination */
.pagination{
    width: 100%;
    margin: 12px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.pagination button{
    padding: 7px 12px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.pagination button:disabled{
    background-color: rgb(116, 114, 114);
    border-color: rgb(116, 114, 114);
}

@media(max-width :600px){
    .OrderTable{
        margin-top: -1px;
    }
}